---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import TestReact from "../components/TestReact";
import TestVue from "../components/TestVue.vue";

import { testNumber } from "../stores/testStore";
import Pokemon from "../components/Pokemon.vue";

const pokemonGeneration = await fetch(
  "https://pokeapi.co/api/v2/generation/1/"
).then((x) => x.json());
const species = pokemonGeneration.pokemon_species as {
  name: string;
  url: string;
}[];
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      Welcome to <span class="text-gradient">Astro</span>
    </h1>
    <h2>
      <div>Astro (serverside): {testNumber.get()}</div>
      <div style="display: flex;">
        React (clientside): <TestReact client:idle />
      </div>
      <div style="display: flex;">
        Vue (clientside): <TestVue client:idle />
      </div>
    </h2>
    <!-- <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul> -->
    <section>
      <h3>Gen 1 Pokemon (SSG)</h3>
      <div style="display: flex; flex-wrap: wrap; gap: 2em">
        {species.map((pokemon) => <Pokemon pokemon={pokemon} />)}
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
