<script setup lang="ts">
const props = defineProps<{
  pokemon: {
    name: string;
    url: string;
  };
}>();

const regex = /pokemon-species\/(.+)\/$/;

const id = regex.exec(props.pokemon.url)?.[1];

const src = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`;
</script>

<template>
  <div class="pokemon">
    <span>{{ pokemon.name }}</span>
    <img :src="src" :alt="pokemon.name" />
  </div>
</template>

<style scoped>
.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 0.5em;
  border-radius: 0.3em;
}

span {
  border-bottom: 1px solid #ddd;
}

img {
  width: 50px;
  height: 50px;
}
</style>
