<script setup lang="ts">
import { useStore } from "@nanostores/vue";
import { testNumber } from "../stores/testStore";

const $testNumber = useStore(testNumber);

const decrement = () => {
  testNumber.set($testNumber.value - 1);
};
</script>

<template>
  <div>
    <span>{{ $testNumber }}</span
    ><button @click="decrement">-</button>
  </div>
</template>

<style scoped></style>
